
Blatt_3/Docs/~$action_time_experiment_design.docx
Blatt_3/Code/.idea/workspace.xml
Blatt_3/Code/.idea/vcs.xml
Blatt_3/Code/.idea/modules.xml
Blatt_3/Code/.idea/misc.xml
Blatt_3/Code/.idea/Code.iml
Blatt_4/Chris/.idea/workspace.xml
Blatt_4/Chris/.idea/vcs.xml
Blatt_4/Chris/.idea/modules.xml
Blatt_4/Chris/.idea/misc.xml
Blatt_4/Chris/.idea/csv-plugin.xml
Blatt_4/Chris/.idea/Chris.iml
.idea/ITT2019_GruppeD_1.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
